- if @restaurants.all.any?
  - @restaurants.all.each do |restaurant|
    = link_to restaurant.name, restaurant_path(restaurant)
- else
  %h1 No restaurants yet

%a(href='restaurants/new') Add a restaurant
